.build-house__wrapper {
  display: flex;
  margin: 0 70px;
}

.build-house__title {
  font-family: "Tinos", serif;
  font-weight: bold;
  font-size: 112px;
  line-height: 100%;
  margin: 0 70px;
  letter-spacing: -0.04em;
  padding-bottom: 50px;
}

.title-color {
  color: #fd665e;
}

.build-house__text {
  width: 290px;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.01em;
  padding-bottom: 50px;
  text-align: justify;
}

.build-house__button {
  width: 179px;
  height: 56px;
  align-items: center;
  background: #fd665e;
  border-radius: 4px;
  border: none;
  color: #fff;

  &:hover {
    background-color: #f74d44;
  }
}

.build-house__image {
  width: 665px;
  height: 380px;
  padding-left: 55px;
}
