.gallery {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__carousel-image {
  width: 305px;
height: 432px;
display: block;

}

.gallery__carousel {
  width: 1200px;
  overflow: hidden;
  padding-left: 60px;
}

.gallery__carousel-images {
  height: 450px;
  width: 9999px;
  list-style: none;
  transition: margin-left 500ms;
}

.gallery__carousel-image {
  display: inline-block;
 list-style: none;
 cursor: pointer;


}

.gallery__carousel-images-img {
  padding: 10px;

}

.gallery__title {
  font-family: 'Tinos', serif;
  font-weight: bold;
font-size: 48px;
line-height: 124%;
letter-spacing: -0.04em;
align-items: center;
}

.gallery__button-prev {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  background: transparent;
  border: none;
  align-items: center;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 55px;
  top: 105px;

  &:hover {
    background: rgba(0, 0, 0, 0.03);
border-radius: 4px;
color: #f74d44;
width: 48px;

  }
}

.gallery__button-next {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  background: transparent;
  border: none;
  align-items: center;
  width: 48px;
height: 48px;
color: #000;
position: absolute;
right: 0;
top: 105px;

  &:hover {
    background: rgba(0, 0, 0, 0.03);
border-radius: 4px;
color: #f74d44;
width: 48px;

  }
}