.nav {
  color: #585858;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style: none;
    white-space: nowrap;
    padding: 0 25px;
  }

  &__link {
    color: #585858;
    padding-bottom: 4px;
    text-decoration: none;
    transition: background 250ms ease 0s;
    background:linear-gradient(currentColor, currentColor) 50% 100% no-repeat;
    background-size:0 1px;


    &:hover {
      background-size:100% 1px;
    }
  }
}