.realizing {
  display: flex;
}

.realizing__content {
  padding: 200px 0 0 120px;
}

.realizing__content-title {
  font-family: "Tinos", serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 124%;
  letter-spacing: -0.04em;
}

.realizing__content-button {
  width: 179px;
  height: 56px;
  background: #fd665e;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin: 0 auto;


  &:hover {
    background-color: #f74d44;
  }
}