.search__form {
  position: relative;
  width: 155px;
  height: 30px;
}

.search__form-input {
  font-family: 'Source Sans Pro', sans-serif;
  color: #585858;
  height: 25px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.search__form-input:hover {
  width: 150px;
  z-index: 1;
  border-bottom: 1px solid #585858;
}

.search__form-button {
  background-color: #fff;
  background: url(../images/loop.svg) no-repeat;
  border: none;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
